################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp26/.vs/ConsoleApp26/v16
/ConsoleApp26/ConsoleApp26/bin/Debug
/ConsoleApp26/ConsoleApp26/obj
/DelegApp/.vs/DelegApp/v16
/DelegApp/DelegApp/bin/Debug
/DelegApp/DelegApp/obj/Debug
/LinqApp/.vs/LinqApp/v16
/LinqApp/LinqApp/bin/Debug
/LinqApp/LinqApp/obj/Debug
/LinqGroupBy/.vs/LinqGroupBy/v16/Server/sqlite3
/LinqGroupBy/.vs/LinqGroupBy/v16
/LinqGroupBy/LinqGroupBy/bin/Debug
/LinqGroupBy/LinqGroupBy/obj/Debug
/WebApp1/.vs/WebApp1
/WebApp1/WebApp1/bin/Debug/netcoreapp3.0
/WebApp1/WebApp1/obj
/Linq3/.vs/Linq3/v16
/Linq3/Linq3/bin/Debug
/Linq3/Linq3/obj
/TreeApp/.vs/TreeApp/v16
/TreeApp/TreeApp/bin/Debug
/TreeApp/TreeApp/obj/Debug
/MyTree/.vs/MyTree/v16
/MyTree/MyTree/bin/Debug
/MyTree/MyTree/obj/Debug
/HashTable/.vs/HashTable/v16
/HashTable/HashTable/bin/Debug
/HashTable/HashTable/obj/Debug
/EventsApp/.vs/EventsApp/v16
/EventsApp/EventsApp/bin/Debug
/EventsApp/EventsApp/obj/Debug
/WindowsFormsApp1/.vs/WindowsFormsApp1/v16
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug
