################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp26/.vs/ConsoleApp26/v16
/ConsoleApp26/ConsoleApp26/bin/Debug
/ConsoleApp26/ConsoleApp26/obj
/DelegApp/.vs/DelegApp/v16
/DelegApp/DelegApp/bin/Debug
/DelegApp/DelegApp/obj/Debug
/LinqApp/.vs/LinqApp/v16
/LinqApp/LinqApp/bin/Debug
/LinqApp/LinqApp/obj/Debug
/LinqGroupBy/.vs/LinqGroupBy/v16/Server/sqlite3
/LinqGroupBy/.vs/LinqGroupBy/v16
/LinqGroupBy/LinqGroupBy/bin/Debug
/LinqGroupBy/LinqGroupBy/obj/Debug
